body {
  margin: 0;
  min-height: 100vh;
  background-color: #5d9df7;
  display: flex;
  align-items: center;
  justify-content: center;
}

#playButton {
  width: 70vw;
  height: 40vh;
  background: transparent;
  border: none;
  padding: 0;
  outline: none;
}

#playButton > svg g {
  fill: #db2c39;
  transform: scale(0.28);
}